@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.apply {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    padding-right: 10px;
  }

  .here {
    color: #FFF;


       font-size: 25px;
  }

  @media (max-width: 768px) {
    .custom-yellow-button {
        width: 100%;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .here {
        font-size: 20px;
    }

    .apply {
        font-size: 18px;
    }
}